[submodule "moodle_src"]	# Define un submódulo llamado "moodle_src"
	path = moodle_src	# Ruta local donde se clonará el submódulo dentro del proyecto
	url = https://github.com/moodle/moodle.git		# URL del repositorio Git que se usará como submódulo
